In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [7]:
testdf=pd.read_csv('coursera_sessions_test.txt',sep=';',header=None,names=['v','b'],dtype={'v': str, 'b': str})
traindf=pd.read_csv('coursera_sessions_train.txt',sep=';',header=None,names=['v','b'],dtype={'v': str, 'b': str})
traindf.head(10)

                                        v         b
0                             0,1,2,3,4,5       NaN
1                    9,10,11,9,11,12,9,11       NaN
2                       16,17,18,19,20,21       NaN
3                          24,25,26,27,24       NaN
4     34,35,36,34,37,35,36,37,38,39,38,39       NaN
5                                      42       NaN
6                                47,48,49       NaN
7  59,60,61,62,60,63,64,65,66,61,67,68,67  67,60,63
8                             71,72,73,74       NaN
9                                76,77,78       NaN

In [9]:
def get_num(sessions):
    l=list()
    for session in sessions:
        l+=session.split(',')
    l=list(map(int,l))
    freq = np.bincount(l)
    ii = np.nonzero(freq)[0]
    return list(zip(ii,freq[ii]))

In [10]:
rate_df=pd.DataFrame(get_num(list(traindf.v)),columns=['id','view_num'])
rate_df=rate_df.set_index('id')
rate_df1=pd.DataFrame(get_num(list(traindf.b.dropna())),columns=['id','buy_num'])
rate_df1=rate_df1.set_index('id')
rate_df=rate_df.join(rate_df1)
rate_df=rate_df.fillna(0)

In [11]:
rate_df.head()

    view_num  buy_num
id
0          6      0.0
1          6      0.0
2          9      0.0
3          7      0.0
4         11      0.0